.container {
    width: 100vw;
    height: 100%;
    background-color: #6e1a00;
}

.restrictedContainer {
    display: flex;
    height: calc(100vh - 90px); /* 90px = thickness of the navbar */
    background-color: green;
}
