/*======================================================================
      CONTAINERS
======================================================================*/
.container {
    width: 100vw;
    height: calc(100vh - 90px);
    background-color: #6e1a00;
}

.expandlableContainer {
    
}

.restrictedContainer {
    display: flex;
    padding: 50px 20px;
    height: 100%;
}
