/* Extra small devices (portrait phones, 360px and lower) */
@media (max-width: 360px) {
    .restrictedContainer {
        padding: 50px 0px;
    }
}

/* Extra small devices (portrait phones, 361px and up) */
@media (min-width: 361px) {
    .restrictedContainer {
        padding: 50px 20px;
    }
}

/*======================================================================
      CONTAINERS
======================================================================*/
.container {
    background-color: #6e1a00;
}

.restrictedContainer {
    display: flex;
    height: calc(100vh - 90px); /* 90px = thickness of the navbar */
}
